/*
 * Style nadpisujące domyślny theme jQuery Mobile
*/

/* Menu na stronie głównej */
.menu {
	padding: 0;
}
.menu li {
	float: left;
	width: 31%;
	margin: 0 2% 10px 0;
	padding: 0;
	list-style: none;
}
.container .menu li a {
	float: left;
	display: inline-block;
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	text-decoration: none;
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	padding: 20px 8px 0 8px;
	text-align: left;
	outline: none;
	font: 13px/100% Arial, Helvetica, sans-serif;
	text-shadow: 1px 2px 2px rgba(0,0,0,.5);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.container .menu li a:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.container .menu li a:active {
	position: relative;
	top: 2px;
}
.container .menu .highlight a {
	border-color: #B57121;
	background: #784F0D;
	background: -webkit-gradient(linear, left top, left bottom, from(#784F0D), to(#573703));
	background: -moz-linear-gradient(top,  #784F0D,  #573703);
}
.container .menu .highlight a:hover {
	background: #6E490C;
	background: -webkit-gradient(linear, left top, left bottom, from(#6E490C), to(#332104));
	background: -moz-linear-gradient(top,  #6E490C,  #332104);
}

h2, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 0;
}

[data-role="content"] .ui-listview {
	margin: 15px -15px;
}

.error {
	color: #c00;
}
.wyloguj.ui-btn-left {
	left: auto;
	right: 10px;
}
ol {
	padding: 0;
	margin: 0;
}
.user-type {
	text-align: center;
}
.users {
	font-size: 85%;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #999;
}
.users-page ol {
	margin: 1em;
} 
.users-page .nauczyciel {
	font-weight: bold;
}
.mapa {
	width: 320px;
	margin: -15px;
	display: block;
}
article {
	margin: 0 0 40px;
	padding: 10px 0 0;
	border-top: 1px solid #999;
}
article:first-child {
	border: none;
}
article footer {
	font-size: 80%;
}
article footer span {
	float: right;
}
article footer time {
	font-weight: bold;
}
table {
	width: 100%;
	border: 1px solid #000;
	margin: 0 0 2em;
}
table th {
	text-align: left;
}
table td {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
}
.delete {
	text-align: center;
}
/* Potwierdź usunięcie pozycji z planu */
.confirm {
	display: none;
	font-size: 80%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #aaa;
	padding: 20px 10px;
	margin: 10px 0;
	background: #f00; /* fallback dla przeglądarek które nie rozumieją rgba */
	background: rgba(255,255,0,0.5);
}
.confirm div {
	margin: 10px auto -5px;
}

#addClasses aside {
	font-size: 80%;
	font-style: italic;
	margin: -5px 0 5px;
}
#addClasses aside:before {
	content: "# ";
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Pokazuje widok iPhone i ogranicza maksymalną szerokość. Tylko do wersji rozwojowej. */

@media (min-width:800px) {
	body.ui-body-c {
		background: #424242;
	}
	
	.container {
		width: 320px;
		min-height: 460px;
		padding: 153px 40px 246px;
		margin: 0 auto;
		background: url(../images/iphone.jpg) no-repeat 0 0;
		position: relative;
	}
	.container:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 400px;
		height: 246px;
		background: url(../images/iphone.jpg) no-repeat 0 100%;
	}
	
	[data-role="content"] {
		min-height: 350px;
	}
}