/* Style nadpisujące domyślny theme jQuery Mobile */

[data-role="content"] .ui-listview {
	margin: 15px -15px;
}
.wyloguj.ui-btn-left {
	left: auto;
	right: 10px;
}
ol {
	padding: 0;
	margin: 0;
}
.user-type {
	text-align: center;
}
.users {
	font-size: 85%;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #999;
}
.users-page ol {
	margin: 1em;
} 
.users-page .nauczyciel {
	font-weight: bold;
}
.mapa {
	width: 320px;
	margin: -15px;
	display: block;
}
article {
	margin: 0 0 40px;
	padding: 10px 0 0;
	border-top: 1px solid #999;
}
article:first-child {
	border: none;
}
article footer {
	font-size: 80%;
}
article footer span {
	float: right;
}
article footer time {
	font-weight: bold;
}
table {
	width: 100%;
}

/* Pokazuje widok iPhone i ogranicza maksymalną szerokość. Tylko do wersji rozwojowej. */

@media (min-width:800px) {
	body.ui-body-c {
		background: #424242;
	}
	
	.container {
		width: 320px;
		min-height: 460px;
		padding: 153px 40px 246px;
		margin: 0 auto;
		background: url(../images/iphone.jpg) no-repeat 0 0;
		position: relative;
	}
	.container:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 400px;
		height: 246px;
		background: url(../images/iphone.jpg) no-repeat 0 100%;
	}
	
	[data-role="content"] {
		min-height: 350px;
	}
}